<a href="https://colab.research.google.com/github/pratikesh3232/Pyspark_intro/blob/main/pyspark_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler

In [19]:
spk  = SparkSession.builder.appName('test').getOrCreate()

In [20]:
df = spk.read.csv('/content/sample_data/credit_data.csv', header=True, inferSchema=True)

In [21]:
df.show()

+---+------+------+------------+---------------------+------------------------+-----------+-----------+-----------------+-------------+------------------+------------------+------------------+-------------+-----------------+
|Age|Gender|Income|Credit Score|Credit History Length|Number of Existing Loans|Loan Amount|Loan Tenure|Existing Customer|        State|              City|         LTV Ratio|Employment Profile|Profile Score|       Occupation|
+---+------+------+------------+---------------------+------------------------+-----------+-----------+-----------------+-------------+------------------+------------------+------------------+-------------+-----------------+
| 31|  Male| 36000|         604|                  487|                       5|     109373|        221|               No|    Karnataka|            Mysuru| 90.94342996168837|          Salaried|           77|           Doctor|
| 25|  Male| 50000|         447|                  386|                       2|     150000|         89|               No|    Karnataka|         Bengaluru| 91.13525304169426|          Salaried|           43|Software Engineer|
| 62| Other|178000|         850|                  503|                      10|      69099|        110|              Yes|Uttar Pradesh|            Kanpur|              40.0|          Salaried|           90|           Banker|
| 69|Female| 46000|         668|                  349|                       6|     150000|        148|              Yes|    Karnataka|         Bengaluru| 87.39336509478201|     Self-Employed|           86|       Contractor|
| 52|  Male|132000|         601|                  553|                       5|     150000|        157|               No|    Karnataka|            Mysuru| 66.15875689399839|          Salaried|           90|          Teacher|
| 64|Female|127000|         850|                  158|                      10|     108702|        111|              Yes|   Tamil Nadu|        Coimbatore| 82.33125007848662|     Self-Employed|           92|       Contractor|
| 29|  Male| 15000|         378|                   89|                       1|      26819|        108|               No|Uttar Pradesh|           Lucknow|              95.0|     Self-Employed|           25|           Farmer|
| 30| Other| 82000|         424|                  610|                       2|     126550|         92|               No|  West Bengal|           Kolkata| 93.63457687724849|          Salaried|           58|           Banker|
| 52|  Male|119000|         753|                  271|                       8|     150000|        251|              Yes|    Rajasthan|            Jaipur| 75.64416579292174|        Freelancer|          100|           Writer|
| 39|  Male|101000|         575|                  424|                       5|     113257|         12|               No|  Maharashtra|            Nagpur|   68.720556448595|          Salaried|           87|           Banker|
| 69|  Male|166000|         384|                  381|                       1|     103472|         14|               No|   Tamil Nadu|        Coimbatore|              95.0|     Self-Employed|           13|       Shopkeeper|
| 64|  Male|167000|         850|                  439|                      10|     150000|        102|              Yes|      Gujarat|             Surat|41.928686835508294|        Freelancer|          100|           Writer|
| 68|Female| 88000|         554|                  186|                       4|     150000|         92|               No|    Telangana|         Hyderabad|  54.6960780760169|        Freelancer|           95|     Photographer|
| 19|Female| 25000|         350|                  227|                       0|      30156|         30|               No|   Tamil Nadu|           Chennai| 64.83458703962643|           Student|           49|          Student|
| 59|Female| 60000|         562|                  179|                       4|     121454|         60|               No|       Kerala|Thiruvananthapuram|              95.0|          Salaried|           82|    Civil Servant|
| 26|Female| 53000|         547|                   18|                       4|     137722|         47|               No|    Rajasthan|           Udaipur|              95.0|          Salaried|           78|    Civil Servant|
| 57|  Male| 36000|         821|                  409|                       9|      88563|        228|              Yes|    Karnataka|            Mysuru| 59.14587023582101|     Self-Employed|          100|       Contractor|
| 42|  Male|115000|         502|                  302|                       3|     107712|         86|               No|    Rajasthan|           Udaipur| 64.52694824947865|     Self-Employed|           75|       Contractor|
| 34|Female| 44000|         300|                  441|                       0|      95976|         55|               No|  West Bengal|           Kolkata| 91.20485064442639|          Salaried|           15|Software Engineer|
| 20|Female| 57000|         733|                   11|                       7|     150000|        285|              Yes|  West Bengal|           Kolkata|              40.0|          Salaried|          100|          Teacher|
+---+------+------+------------+---------------------+------------------------+-----------+-----------+-----------------+-------------+------------------+------------------+------------------+-------------+-----------------+
only showing top 20 rows

In [22]:
df.columns

['Age',
 'Gender',
 'Income',
 'Credit Score',
 'Credit History Length',
 'Number of Existing Loans',
 'Loan Amount',
 'Loan Tenure',
 'Existing Customer',
 'State',
 'City',
 'LTV Ratio',
 'Employment Profile',
 'Profile Score',
 'Occupation']

In [23]:
x = VectorAssembler(inputCols=['Age',
 'Income',
 'Credit History Length',
 'Number of Existing Loans',
 'Loan Amount',
 'Loan Tenure',
 'LTV Ratio',
 'Profile Score',
],outputCol="X")

In [24]:
df1 = x.transform(df)

In [25]:
df1.show()

+---+------+------+------------+---------------------+------------------------+-----------+-----------+-----------------+-------------+------------------+------------------+------------------+-------------+-----------------+--------------------+
|Age|Gender|Income|Credit Score|Credit History Length|Number of Existing Loans|Loan Amount|Loan Tenure|Existing Customer|        State|              City|         LTV Ratio|Employment Profile|Profile Score|       Occupation|                   X|
+---+------+------+------------+---------------------+------------------------+-----------+-----------+-----------------+-------------+------------------+------------------+------------------+-------------+-----------------+--------------------+
| 31|  Male| 36000|         604|                  487|                       5|     109373|        221|               No|    Karnataka|            Mysuru| 90.94342996168837|          Salaried|           77|           Doctor|[31.0,36000.0,487...|
| 25|  Male| 50000|         447|                  386|                       2|     150000|         89|               No|    Karnataka|         Bengaluru| 91.13525304169426|          Salaried|           43|Software Engineer|[25.0,50000.0,386...|
| 62| Other|178000|         850|                  503|                      10|      69099|        110|              Yes|Uttar Pradesh|            Kanpur|              40.0|          Salaried|           90|           Banker|[62.0,178000.0,50...|
| 69|Female| 46000|         668|                  349|                       6|     150000|        148|              Yes|    Karnataka|         Bengaluru| 87.39336509478201|     Self-Employed|           86|       Contractor|[69.0,46000.0,349...|
| 52|  Male|132000|         601|                  553|                       5|     150000|        157|               No|    Karnataka|            Mysuru| 66.15875689399839|          Salaried|           90|          Teacher|[52.0,132000.0,55...|
| 64|Female|127000|         850|                  158|                      10|     108702|        111|              Yes|   Tamil Nadu|        Coimbatore| 82.33125007848662|     Self-Employed|           92|       Contractor|[64.0,127000.0,15...|
| 29|  Male| 15000|         378|                   89|                       1|      26819|        108|               No|Uttar Pradesh|           Lucknow|              95.0|     Self-Employed|           25|           Farmer|[29.0,15000.0,89....|
| 30| Other| 82000|         424|                  610|                       2|     126550|         92|               No|  West Bengal|           Kolkata| 93.63457687724849|          Salaried|           58|           Banker|[30.0,82000.0,610...|
| 52|  Male|119000|         753|                  271|                       8|     150000|        251|              Yes|    Rajasthan|            Jaipur| 75.64416579292174|        Freelancer|          100|           Writer|[52.0,119000.0,27...|
| 39|  Male|101000|         575|                  424|                       5|     113257|         12|               No|  Maharashtra|            Nagpur|   68.720556448595|          Salaried|           87|           Banker|[39.0,101000.0,42...|
| 69|  Male|166000|         384|                  381|                       1|     103472|         14|               No|   Tamil Nadu|        Coimbatore|              95.0|     Self-Employed|           13|       Shopkeeper|[69.0,166000.0,38...|
| 64|  Male|167000|         850|                  439|                      10|     150000|        102|              Yes|      Gujarat|             Surat|41.928686835508294|        Freelancer|          100|           Writer|[64.0,167000.0,43...|
| 68|Female| 88000|         554|                  186|                       4|     150000|         92|               No|    Telangana|         Hyderabad|  54.6960780760169|        Freelancer|           95|     Photographer|[68.0,88000.0,186...|
| 19|Female| 25000|         350|                  227|                       0|      30156|         30|               No|   Tamil Nadu|           Chennai| 64.83458703962643|           Student|           49|          Student|[19.0,25000.0,227...|
| 59|Female| 60000|         562|                  179|                       4|     121454|         60|               No|       Kerala|Thiruvananthapuram|              95.0|          Salaried|           82|    Civil Servant|[59.0,60000.0,179...|
| 26|Female| 53000|         547|                   18|                       4|     137722|         47|               No|    Rajasthan|           Udaipur|              95.0|          Salaried|           78|    Civil Servant|[26.0,53000.0,18....|
| 57|  Male| 36000|         821|                  409|                       9|      88563|        228|              Yes|    Karnataka|            Mysuru| 59.14587023582101|     Self-Employed|          100|       Contractor|[57.0,36000.0,409...|
| 42|  Male|115000|         502|                  302|                       3|     107712|         86|               No|    Rajasthan|           Udaipur| 64.52694824947865|     Self-Employed|           75|       Contractor|[42.0,115000.0,30...|
| 34|Female| 44000|         300|                  441|                       0|      95976|         55|               No|  West Bengal|           Kolkata| 91.20485064442639|          Salaried|           15|Software Engineer|[34.0,44000.0,441...|
| 20|Female| 57000|         733|                   11|                       7|     150000|        285|              Yes|  West Bengal|           Kolkata|              40.0|          Salaried|          100|          Teacher|[20.0,57000.0,11....|
+---+------+------+------------+---------------------+------------------------+-----------+-----------+-----------------+-------------+------------------+------------------+------------------+-------------+-----------------+--------------------+
only showing top 20 rows

In [26]:
df_final = df1.select(['X','Credit Score'])

In [27]:
df_final.show()

+--------------------+------------+
|                   X|Credit Score|
+--------------------+------------+
|[31.0,36000.0,487...|         604|
|[25.0,50000.0,386...|         447|
|[62.0,178000.0,50...|         850|
|[69.0,46000.0,349...|         668|
|[52.0,132000.0,55...|         601|
|[64.0,127000.0,15...|         850|
|[29.0,15000.0,89....|         378|
|[30.0,82000.0,610...|         424|
|[52.0,119000.0,27...|         753|
|[39.0,101000.0,42...|         575|
|[69.0,166000.0,38...|         384|
|[64.0,167000.0,43...|         850|
|[68.0,88000.0,186...|         554|
|[19.0,25000.0,227...|         350|
|[59.0,60000.0,179...|         562|
|[26.0,53000.0,18....|         547|
|[57.0,36000.0,409...|         821|
|[42.0,115000.0,30...|         502|
|[34.0,44000.0,441...|         300|
|[20.0,57000.0,11....|         733|
+--------------------+------------+
only showing top 20 rows

In [28]:
from pyspark.ml.regression import LinearRegression

In [29]:
# train Test Split
train_data, test_data = df_final.randomSplit([0.7,0.3])

In [30]:
rg = LinearRegression(featuresCol='X', labelCol='Credit Score')

In [31]:
rg = rg.fit(train_data)

In [32]:
# Pred
pred = rg.evaluate(test_data)

In [33]:
pred.predictions.show()

+--------------------+------------+------------------+
|                   X|Credit Score|        prediction|
+--------------------+------------+------------------+
|[18.0,9000.0,18.0...|         515| 495.0072725082209|
|[18.0,9000.0,90.0...|         760| 762.5185989824898|
|[18.0,9000.0,91.0...|         533| 542.0439161517799|
|[18.0,9000.0,106....|         763| 761.7194319193636|
|[18.0,9000.0,119....|         541| 535.4990994094455|
|[18.0,9000.0,213....|         375| 376.1405615099224|
|[18.0,9000.0,222....|         747| 765.3921792308938|
|[18.0,9000.0,235....|         328| 331.5784352226746|
|[18.0,9000.0,340....|         610| 598.1745734989352|
|[18.0,9000.0,350....|         341| 330.3912854482922|
|[18.0,9000.0,350....|         341| 330.3912854482922|
|[18.0,9000.0,400....|         658| 657.7567791483715|
|[18.0,9000.0,470....|         364|378.90969855508627|
|[18.0,9000.0,498....|         583| 602.9500346640893|
|[18.0,9000.0,500....|         300| 321.1141358721219|
|[18.0,9000.0,506....|         589| 602.1223315359263|
|[18.0,9000.0,506....|         589| 602.1223315359263|
|[18.0,9000.0,506....|         589| 602.1223315359263|
|[18.0,9000.0,511....|         792| 759.6687934193412|
|[18.0,9000.0,521....|         756| 758.6859231513631|
+--------------------+------------+------------------+
only showing top 20 rows

In [36]:
pred.meanAbsoluteError, pred.meanSquaredError

(14.114069209488255, 268.6080259418669)